.bg-darkblue {
    background-color: #010B42;
}

.btn-darkblue{
    color: #fff;
    background-color: #010B42;
    border-color: #010B42;

}

.jumbotron.onlistpage {
    background-image: url("img/header.jpg");
    background-size: cover;
    /*PCから見ると文字が透明（背景画像に説明があるのでOK）*/
    color: transparent;
    border-radius: 0;
}

@media screen and (max-width: 425px) {
    /*　画面横幅が425pxより小さければここを読み込む　*/
    .jumbotron.onlistpage {
        background-image: none;
        background-color: black;
        /*スマホから見ると文字が見えるように*/
        color: white;
    }
}

.card.onlistpage {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.card.onlistpage:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h4 {
    font-size: 18px;
}

a.onlistpage {
    text-decoration: none;
    color: #000;
}

.card-img-top.onlistpage {
    /*横幅の348pxの1/2*/
    height: 174px;
}

.card.onlistpage {
    /*表示される記事が奇数枚あると最後の1枚が横に拡大されてしまうので、最大サイズを指定*/
    max-width: 350px;
}

.card-title.onlistpage {
    margin-bottom: 3px;
}

.annotation {
    /*各カード内で作成日、カテゴリを表示するpタグ*/
    font-size: small;
    margin-bottom: 3px;
    color: #888;
}

.card-text.onlistpage {
    margin-bottom: 3px;
}

h3.profile {
    text-align: center;
}

.ondtlpg img {
    /*詳細ページにてimgがレスポンシブ対応になっていない不具合を修正*/
    width: 100%;
    border-radius: calc(.25rem - 1px);
}