.jumbotron {
    background-image: url("img/header.jpg");
    background-size: cover;
    color: white;
    width:1440px;
    height:277px;
}

h4 {
    font-size: 18px;
}

a.onlistpage{
    text-decoration: none;
    color: #000;
}

.card-img-top.onlistpage {
    /*横幅の348pxの1/2*/
    height: 174px;
}

.card.onlistpage {
    /*表示される記事が奇数枚あると最後の1枚が横に拡大されてしまうので、最大サイズを指定*/
    max-width: 350px;
}

.card-title.onlistpage {
    margin-bottom: 3px;
}

.annotation {
    /*各カード内で作成日、カテゴリを表示するpタグ*/
    font-size: small;
    margin-bottom: 3px;
    color: #888;
}

.card-text.onlistpage {
    margin-bottom: 3px;
}


