{% extends 'blog/base.html' %}


{% block content %}
    {% load static %}

    <div class="card-deck">
        {% for post in post_list %}
            <a class="onlistpage" href="{% url 'blog:detail' post.pk %}">
                <div class="card mb-3 onlistpage">
                    {% if post.thumbnail %}
                        <img class="card-img-top onlistpage" src="{{ post.thumbnailurl }}" alt="Card image cap">
                    {% else %}
                        <img class="card-img-top onlistpage" src="{% static 'img/noimage.jpg' %}" alt="Card image cap">
                    {% endif %}
                    <div class="card-block m-2">
                        <p class="annotation">{{ post.created_at }} {{ post.category }}</p>
                        <h4 class="card-title onlistpage"><b>{{ post.title }}</b></h4>
                        <p class="card-text onlistpage">{{ post.shortentext }}</p>
                    </div>
            </a>
            </div>
            {% if forloop.counter|divisibleby:"2" %}
                {# close carddeck here and start new card deck#}
                </div>
                <div class="card-deck">
            {% endif %}
        {% endfor %}
        {#    close the last carddeck#}
        </div>
    {% include 'blog/page.html' %}

{% endblock %}