{% extends 'blog/base.html' %}


{% block content %}

    <div class="card-deck">
        {% for post in post_list %}
            <div class="card mb-3 onlistpage">
                {% if post.thumbnail %}
                    <img class="card-img-top onlistpage" src="{{ post.thumbnail.url }}" alt="Card image cap">
                {% else %}
                    <img class="card-img-top onlistpage" src="static/img/noimage.jpg" alt="Card image cap">
                {% endif %}
                <div class="card-block m-3">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <p class="card-text">{{ post.shortentext }}</p>
                    <a href="{% url 'blog:detail' post.pk %}" class="btn btn-primary">続きを読む</a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"2" %}
                {# close carddeck here and start new card deck#}
                </div>
                <div class="card-deck">
            {% endif %}
        {% endfor %}
        {#    close the last carddeck#}
        </div>
    {% include 'blog/page.html' %}

{% endblock %}